.blue-bg{
    background-color: #386795;
}
.carousel-item{
    padding: 50px 40px;
}
.container{
    margin-top: 30px;
}
.card-img-top{
    box-shadow: none;
}
.bg{
    background-color: #386795;
    width: 100%;
    height: 200px;
}
    .bt{
        margin-top: 5px;
    }